.idea/
dist/
*.log
*.tmp
*.out
test-*.yml
*.csr
*.srl
*.pem
*.key
*.p12
report.xml
maps/*/
.env
gpsd/
pkg/mod/
pkg/sumdb/
/2024-06-23.patch
/.devcontainer/devcontainer.json
/goatak-client.tar
/goatak-gpsd.tar
/goatak-maps.tar
/make-3.81.exe
/front/.vite/
/front/node_modules/
/front/dist/
progress_report_farsi.txt
project_progress_report_v3.txt

