table.units {
    font-size: 10pt;
}

div.info {
    font-size: 11pt;
}

#app {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}

.leaflet-marker-icon.my-marker-info.leaflet-zoom-animated.leaflet-interactive {
    color: rgba(255, 0, 0, 0.3);
    font-family: 'Vazirmatn', sans-serif;
    font-size: 13px;
    margin-left: 16px;
    margin-top: 10px;
    border: black 1px solid;
    border-radius: 4px;
    padding: 2px;
    background: rgba(245, 222, 179, 0.3);
    width: max-content;
}

.leaflet-marker-icon.my-marker-info.leaflet-zoom-animated.leaflet-interactive:hover {
    background: rgba(245, 222, 179, 0.8);
    color: rgba(255, 0, 0, 0.8);
}

.nav-item {
    border: 1px gray solid;
    border-radius: 11px;
    margin: 0 5px;
}

.nav-item span {
    margin-inline-start: 5px;
}

.marker-contextmenu {
    position: static;
    display: block;
    border-width: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button {
    right: auto;
    left: 0;
    padding: 8px;
    width: auto;
    height: auto;
}

.leaflet-popup-content {
    margin: 0;
}

.alarm-active {
    color: red;
}

.leaflet-marker-icon{
    transform-origin: center !important;
}

/*.form-switch .form-check-input {*/
/*    width: 2em;*/
/*    margin-left: -2.5em;*/
/*    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");*/
/*    background-position: left center;*/
/*    border-radius: 2em;*/
/*    transition: background-position .15s ease-in-out;*/
/*}*/

#map-locate-btn {
    font-size: 22px;
}
#map-add-unit-btn {
    font-size: 22px;
}
.nav-pills .nav-link {
    text-orientation: sideways;
    writing-mode: sideways-lr;
    padding: 0.5rem 0.25rem;
    border-radius: 0 0.5rem 0.5rem 0;
    border: 1px solid;
}