table.units {
    font-size: 10pt;
}

div.info {
    font-size: 11pt;
}

#app {
    font-family: 'Vazirmatn', sans-serif;
    direction: rtl;
}

.leaflet-marker-icon.my-marker-info.leaflet-zoom-animated.leaflet-interactive {
    color: rgba(255, 0, 0, 0.3);
    font-family: 'Vazirmatn', sans-serif;
    font-size: 13px;
    margin-left: 16px;
    margin-top: 10px;
    border: black 1px solid;
    border-radius: 4px;
    padding: 2px;
    background: rgba(245, 222, 179, 0.3);
    width: max-content;
}

.leaflet-marker-icon.my-marker-info.leaflet-zoom-animated.leaflet-interactive:hover {
    background: rgba(245, 222, 179, 0.8);
    color: rgba(255, 0, 0, 0.8);
}

.nav-item {
    border: 1px gray solid;
    border-radius: 11px;
    margin: 0 5px;
}

.nav-item span {
    margin-inline-start: 5px;
}

.marker-contextmenu {
    position: static;
    display: block;
    border-width: 0 !important;
}

.leaflet-container a.leaflet-popup-close-button {
    right: auto;
    left: 0;
    padding: 8px;
    width: auto;
    height: auto;
}

.leaflet-popup-content {
    margin: 0;
}

.alarm-active {
    color: red;
}

.leaflet-marker-icon{
    transform-origin: center !important;
}

/*.form-switch .form-check-input {*/
/*    width: 2em;*/
/*    margin-left: -2.5em;*/
/*    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='rgba%280, 0, 0, 0.25%29'/%3e%3c/svg%3e");*/
/*    background-position: left center;*/
/*    border-radius: 2em;*/
/*    transition: background-position .15s ease-in-out;*/
/*}*/

/* NEW SIDEBAR */

.dropdown-toggle { outline: 0; }

.btn-toggle {
    padding: .25rem .5rem;
    font-weight: 600;
    color: var(--bs-emphasis-color);
    background-color: transparent;
}
.btn-toggle:hover,
.btn-toggle:focus {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
    background-color: var(--bs-tertiary-bg);
}

.btn-toggle::before {
    width: 1.25em;
    line-height: 0;
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
    transition: transform .35s ease;
    transform-origin: .5em 50%;
}

[data-bs-theme="dark"] .btn-toggle::before {
    content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%28255,255,255,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
}

.btn-toggle[aria-expanded="true"] {
    color: rgba(var(--bs-emphasis-color-rgb), .85);
}
.btn-toggle[aria-expanded="true"]::before {
    transform: rotate(90deg);
}

.btn-toggle-nav a {
    padding: .1875rem .5rem;
    margin-top: .125rem;
    margin-left: 1.25rem;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
    background-color: var(--bs-tertiary-bg);
}

.scrollarea {
    overflow-y: auto;
}
/* NEW SIDEBAR */