<div id="app">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"
        >سامانه آگاهی وضعیتی تاکتیکی
        <!--                <span v-if="config">{{ config.version}}</span>-->
      </a>
      <span
        class="badge rounded-pill bg-primary"
        :class="{ 'bg-success': connected(), 'bg-secondary': !connected() }"
        >.</span
      >
      <span class="flex-grow-1"></span>
      <div class="NOT-collapse NOT-navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mb-2 mb-md-0">
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              id="navbarAlarmsMenuLink"
              role="button"
              v-on:click="openAlarms()"
            >
              <i
                :class="{'alarm-active': countByCategory('alarm') > 0 }"
                class="bi bi-exclamation-diamond-fill"
              ></i>
              {{ countByCategory('alarm') }}
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              id="navbarSensorsMenuLink"
              role="button"
              v-on:click="openSensors()"
            >
              سنسورها<span class="badge rounded-pill bg-success"
                >{{ sensorsCount() }}</span
              >
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              id="navbarFlowsMenuLink"
              role="button"
              v-on:click="openFlows()"
            >
              ارتباطات
              <span class="badge rounded-pill bg-success"
                >{{ flowsCount() }}</span
              >
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              مخاطبین
              <span class="badge rounded-pill bg-success"
                >{{ contactsNum() }}</span
              >
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink"
            >
              <li v-for="u in byCategory('contact')">
                <a
                  class="dropdown-item"
                  href="#"
                  v-on:click="setActiveItemUid(u.uid, true)"
                >
                  <img :src="getImg(u)" />
                  <span v-if="u.lat === 0 && u.lon === 0">* </span>{{ u.callsign
                  }}<span v-if="u.status"> ({{ u.status }})</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink2"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              نیروها
              <span class="badge rounded-pill bg-success"
                >{{ countByCategory('unit') }}</span
              >
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink2"
            >
              <li v-for="u in byCategory('unit')">
                <a
                  class="dropdown-item"
                  href="#"
                  v-on:click="setActiveItemUid(u.uid, true)"
                >
                  {{ getUnitName(u) }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink3"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              نقاط
              <span class="badge rounded-pill bg-success"
                >{{ countByCategory('point') }}</span
              >
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink3"
            >
              <li v-for="u in byCategory('point')">
                <a
                  class="dropdown-item"
                  href="#"
                  v-on:click="setActiveItemUid(u.uid, true)"
                >
                  {{ getUnitName(u) }}
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDarkDropdownMenuLink4"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              پیام‌ها
              <span class="badge rounded-pill bg-success">{{ msgNum() }}</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-dark"
              aria-labelledby="navbarDarkDropdownMenuLink4"
            >
              <li v-for="m in Object.values(messages)">
                <a
                  class="dropdown-item"
                  href="#"
                  v-on:click="openChat(m.uid, m.from)"
                >
                  {{ m.from }}
                  <span class="badge rounded-pill bg-success"
                    >{{ msgNum1(m.uid) }}</span
                  >
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container-fluid vh-100 mh-100" style="padding-top: 4rem">
    <div class="row h-100">
      <div id="map" class="col-9 h-100" style="cursor: crosshair"></div>

      <div class="col-3 p-0 h-100">
        <sidebar
          :toggle-overlay="toggleOverlay"
          :config="config"
          :check-emergency="checkEmergency"
          :config-updated="configUpdated"
          :coords="coords"
          :active-item="activeItem"
          :locked_unit_uid="locked_unit_uid"
          :map="map"
          :casevac-location="casevacLocation"
          :on-done-casevac="onDoneCasevac"
          v-on:save="saveItem"
        ></sidebar>
      </div>
    </div>
  </div>

  <!-- Modal -->
  <div
    class="modal fade"
    id="messages"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div
      class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg"
    >
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">
            پیام‌های چت {{ chatroom }}
            <span
              v-if="getStatus(chat_uid)"
              class="badge"
              :class="getStatus(chat_uid) == 'Online' ?'text-bg-success':'text-bg-secondary'"
            >
              {{ getStatus(chat_uid) }}</span
            >
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div v-for="m in getMessages()" class="alert alert-secondary">
            <span class="badge text-bg-secondary">{{ dt(m.time) }}</span>
            <span
              class="badge"
              :class="m.from_uid == config.uid ? 'text-bg-success':'text-bg-info'"
              >{{ m.from || m.from_uid }}</span
            >
            {{ m.text }}
          </div>
        </div>
        <div class="modal-footer">
          <form @submit.prevent="sendMessage">
            <input
              type="text"
              class="form-control"
              id="message-text"
              v-model="chat_msg"
            />
          </form>
          <button
            type="button"
            class="btn btn-primary"
            v-on:click="sendMessage"
          >
            ارسال پیام
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            خروج
          </button>
        </div>
      </div>
    </div>
  </div>

  <flows-modal></flows-modal>
  <alarms-modal :map="map"></alarms-modal>
  <send-modal></send-modal>
  <sensors-modal></sensors-modal>
</div>
