<div id="app">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">سامانه آگاهی وضعیتی تاکتیکی<span v-if="config">{{ config.version
                    }}</span></a>
            <span class="badge rounded-pill bg-primary"
                :class="{ 'bg-success': connected(), 'bg-secondary': !connected() }">.</span>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="navbarSensorsMenuLink" role="button" v-on:click="openSensors()">
                            سنسورها<span class="badge rounded-pill bg-success">{{ sensorsCount() }}</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" id="navbarFeedsMenuLink" role="button" v-on:click="openFeeds()">
                            ارتباطات <span class="badge rounded-pill bg-success">{{ feedsCount() }}</span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            مخاطبین <span class="badge rounded-pill bg-success">{{ contactsNum() }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                            <li v-for="u in byCategory('contact')">
                                <a class="dropdown-item" href="#" v-on:click="setCurrentUnitUid(u.uid, true)">
                                    <img :src="getImg(u)" />
                                    <span v-if="u.lat === 0 && u.lon === 0">* </span>{{ u.callsign }}<span
                                        v-if="u.status"> ({{ u.status }})</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink2" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            نیروها <span class="badge rounded-pill bg-success">{{ countByCategory('unit') }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink2">
                            <li v-for="u in byCategory('unit')">
                                <a class="dropdown-item" href="#" v-on:click="setCurrentUnitUid(u.uid, true)">
                                    {{ getUnitName(u) }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink3" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            نقاط <span class="badge rounded-pill bg-success">{{ countByCategory('point') }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink3">
                            <li v-for="u in byCategory('point')">
                                <a class="dropdown-item" href="#" v-on:click="setCurrentUnitUid(u.uid, true)">
                                    {{ getUnitName(u) }}
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink4" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            پیام‌ها <span class="badge rounded-pill bg-success">{{ msgNum() }}</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink4">
                            <li v-for="m in Object.values(messages)">
                                <a class="dropdown-item" href="#" v-on:click="openChat(m.uid, m.from)">
                                    {{ m.from }} <span class="badge rounded-pill bg-success">{{ msgNum1(m.uid) }}</span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container-fluid vh-100 mh-100" style="padding-top: 4rem;">
        <div class="row h-100">
            <div id="map" class="col-9 h-100" style="cursor:crosshair;">
            </div>
            <div class="col-3">
                <div class="card mb-1" v-if="config && config.callsign">
                    <div class="card-header">من ({{ config.callsign }})</div>
                    <div class="card-body">
                        <dl>
                            <dt>UID</dt>
                            <dd>{{ config.uid }}</dd>
                            <template v-if="config.team">
                                <dt>تیم</dt>
                                <dd>{{ config.team }}</dd>`
                                <dt>نقش</dt>
                                <dd>{{ config.role }}</dd>
                            </template>
                            <dt>مختصات</dt>
                            <dd>{{ printCoords(config.lat, config.lon) }}
                                <span class="badge rounded-pill bg-success" style="cursor:default;"
                                    v-on:click="map.setView([config.lat, config.lon])"><i class="bi bi-geo"></i></span>
                                <span v-if="coords">({{ distBea(latlng(config.lat, config.lon), coords) }} تا
                                    نشانگر)</span>
                            </dd>
                        </dl>
                    </div>
                </div>
                <div class="card mb-1">
                    <div class="card-header">ابزارها</div>
                    <div class="card-body">
                        <div class="btn-group" role="group" aria-label="Tools">
                            <input type="radio" class="btn-check" name="btnradio" id="select" autocomplete="off"
                                checked>
                            <label class="btn btn-outline-primary btn-sm" for="select">انتخاب</label>

                            <input type="radio" class="btn-check" name="btnradio" id="redx" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm" for="redx">نشان</label>

                            <!--                            <input type="radio" class="btn-check" name="btnradio" id="dp1" autocomplete="off">-->
                            <!--                            <label class="btn btn-outline-primary btn-sm" for="dp1">DP</label>-->

                            <input type="radio" class="btn-check" name="btnradio" id="point" autocomplete="off">
                            <label class="btn btn-outline-primary btn-sm" for="point">ایجاد نقطه</label>

                            <input v-if="config && config.callsign" type="radio" class="btn-check" name="btnradio"
                                id="me" autocomplete="off">
                            <label v-if="config && config.callsign" class="btn btn-outline-primary btn-sm"
                                for="me">من</label>
                        </div>
                        <div v-if="getTool('redx')" class="mt-1">
                            <span class="badge bg-danger">نشان</span>: {{ printCoordsll(getTool('redx').getLatLng()) }}
                            <span class="badge rounded-pill bg-success" style="cursor:default;"
                                v-on:click="map.setView(getTool('redx').getLatLng())"><i class="bi bi-geo"></i></span>
                            <span class="badge rounded-pill bg-danger" style="cursor:default;"
                                v-on:click="removeTool('redx')">X</span>
                        </div>
                        <!--                        <div v-if="getTool('dp1')" class="mt-1">-->
                        <!--                            <span class="badge bg-success">DP1</span>: {{ printCoordsll(getTool('dp1').getLatLng()) }}-->
                        <!--                            <span class="badge rounded-pill bg-success" style="cursor:default;"-->
                        <!--                                  v-on:click="map.setView(getTool('dp1').getLatLng())"><i class="bi bi-geo"></i></span>-->
                        <!--                            <span class="badge rounded-pill bg-danger" style="cursor:default;"-->
                        <!--                                  v-on:click="removeTool('dp1')">X</span>-->
                        <!--                        </div>-->
                        <div v-if="coords" class="mt-1">
                            <span class="badge bg-secondary">نشانگر</span>: {{ printCoordsll(coords) }} <span
                                v-if="getTool('redx')">({{ distBea(getTool('redx').getLatLng(), coords) }} از
                                نشانگر)</span>
                        </div>
                    </div>
                </div>
                <div class="card" v-if="current_unit">
                    <div class="card-header">
                        <span class="pull-left fw-bold" v-on:click="mapToUnit(current_unit)">
                            <img :src="milImg(current_unit)" /> {{ getUnitName(current_unit) }} <span
                                v-if="current_unit.status"> ({{ current_unit.status }})</span>
                            <img height="24" src="/static/icons/coord_unlock.png"
                                v-if="current_unit.category !== 'point' && locked_unit_uid != current_unit.uid"
                                v-on:click="locked_unit_uid=current_unit.uid" />
                            <img height="24" src="/static/icons/coord_lock.png"
                                v-if="locked_unit_uid == current_unit.uid" v-on:click="locked_unit_uid=''" />
                        </span>
                        <span class="pull-right" v-if="current_unit.category === 'contact'">
                            <button type="button" class="btn btn-sm btn-primary"
                                v-if="current_unit.category === 'contact'"
                                v-on:click="openChat(current_unit.uid, current_unit.callsign);"><i
                                    class="bi bi-chat-text-fill"></i></button>
                        </span>
                        <span class="pull-right" v-if="current_unit.category !== 'contact'">
                            <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal"
                                data-bs-target="#edit">
                                <i class="bi bi-pencil-square"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" v-on:click="deleteCurrentUnit">
                                <i class="bi bi-trash3-fill"></i>
                            </button>
                        </span>
                    </div>
                    <div class="card-body">
                        <dl>
                            <dt>UID</dt>
                            <dd>{{ current_unit.uid }}</dd>
                            <template v-if="current_unit.team">
                                <dt>تیم</dt>
                                <dd>{{ current_unit.team }}</dd>
                                <dt>نقش</dt>
                                <dd>{{ current_unit.role }}</dd>
                            </template>
                            <dt>نوع</dt>
                            <dd>{{ current_unit.type }}</dd>
                            <dt>SIDC</dt>
                            <dd>{{ current_unit.sidc }}</dd>

                            <dt>مختصات</dt>
                            <dd>{{ printCoords(current_unit.lat, current_unit.lon) }}
                                <span class="badge rounded-pill bg-success" style="cursor:default;"
                                    v-on:click="map.setView([current_unit.lat, current_unit.lon])"><i
                                        class="bi bi-geo"></i></span>
                                <span v-if="coords">({{ distBea(latlng(current_unit.lat, current_unit.lon), coords) }}
                                    تا نشانگر)</span>
                            </dd>
                            <dt>سرعت</dt>
                            <dd>{{ sp(current_unit.speed) }} km/h</dd>
                            <dt>ارتفاع</dt>
                            <dd>{{ current_unit.hae.toFixed(1) }}</dd>
                            <!--                            <div v-if="current_unit.tak_version">-->
                            <!--                                <b>ver:</b> {{ current_unit.tak_version }}<br/>{{ current_unit.device }}-->
                            <!--                            </div>-->
                            <div v-if="current_unit.parent_uid">
                                <dt>سازنده</dt>
                                <dd>{{ current_unit.parent_uid }}<span v-if="current_unit.parent_callsign">({{
                                        current_unit.parent_callsign }})</span></dd>
                            </div>
                            <dt>زمان</dt>
                            <dd>{{ dt(current_unit.start_time) }}</dd>
                            <dt>ارسال</dt>
                            <dd>{{ dt(current_unit.send_time) }}</dd>
                            <dt>انقضا</dt>
                            <dd>{{ dt(current_unit.stale_time) }}</dd>
                            <dt>آخرین زمان دیده شدن</dt>
                            <dd>{{ dt(current_unit.last_seen) }}</dd>
                        </dl>
                        {{ current_unit.text }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="messages" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">پیام‌های چت {{ chatroom }}
                        <span v-if="getStatus(chat_uid)" class="badge"
                            :class="getStatus(chat_uid) == 'Online' ?'text-bg-success':'text-bg-secondary'">
                            {{ getStatus(chat_uid) }}</span>
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div v-for="m in getMessages()" class="alert alert-secondary">
                        <span class="badge text-bg-secondary">{{ dt(m.time) }}</span>
                        <span class="badge" :class="m.from_uid == config.uid ? 'text-bg-success':'text-bg-info'">{{
                            m.from || m.from_uid }}</span>
                        {{ m.text }}
                    </div>
                </div>
                <div class="modal-footer">
                    <form @submit.prevent="sendMessage">
                        <input type="text" class="form-control" id="message-text" v-model="chat_msg" />
                    </form>
                    <button type="button" class="btn btn-primary" v-on:click="sendMessage">ارسال پیام</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">خروج</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="feeds-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">ارتباطات</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h6>ارتباطات خروجی</h6>
                
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="col-2">#</th>
                                <th scope="col" class="col-6">IP</th>
                                <th scope="col" class="col-4">Port</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(feed, idx) in getOutgoingFeeds()">
                                <th scope="row">{{ idx + 1 }}</th>
                                <td>{{ feed.addr }}</td>
                                <td>{{ feed.port }}</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-success" v-on:click="newOutFeed">+</button></th>
                                <td><input type="text" class="form-control" v-model="new_out_feed.ip" placeholder="IP" aria-label="IP">
                                </td>
                                <td><input type="text" class="form-control" v-model="new_out_feed.port" placeholder="Port"
                                        aria-label="Port"></td>
                            </tr>
                        </tbody>
                    </table>
                    <h6>ارتباطات ورودی</h6>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col" class="col-2">#</th>
                                <th scope="col" class="col-6">IP</th>
                                <th scope="col" class="col-4">Port</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(feed, idx) in getIncomingFeeds()">
                                <th scope="row">{{ idx + 1 }}</th>
                                <td>{{ feed.addr }}</td>
                                <td>{{ feed.port }}</td>
                            </tr>
                            <tr>
                                <td><button class="btn btn-success" v-on:click="newInFeed">+</button></th>
                                <td><input type="text" class="form-control" v-model="new_in_feed.ip" placeholder="IP" aria-label="IP">
                                </td>
                                <td><input type="text" class="form-control" v-model="new_in_feed.port" placeholder="Port"
                                        aria-label="Port"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="modal-footer">
                    <form @submit.prevent="sendMessage">
                        <input type="text" class="form-control" id="message-text" v-model="chat_msg" />
                    </form>
                    <button type="button" class="btn btn-primary" v-on:click="sendMessage">ارسال پیام</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">خروج</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="sensors-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
         aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">سنسورها</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col" class="col-1">#</th>
                            <th scope="col" class="col-4">نوع سنسور</th>
                            <th scope="col" class="col-5">IP</th>
                            <th scope="col" class="col-4">Port</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr v-for="(sensor, idx) in getSensors()">
                            <th scope="row">{{ idx + 1 }}</th>
                            <td>{{ sensor.type }}</td>
                            <td>{{ sensor.addr }}</td>
                            <td>{{ sensor.port }}</td>
                        </tr>
                        <tr>
                            <td><button class="btn btn-success" v-on:click="newSensor">+</button></th>
                            <td><select class="form-select" v-model="new_sensor.type" aria-label="type"><option value="" selected>-----------</option><option value="GPS">GPS/AIS</option></select>
                            </td>
                            <td><input type="text" class="form-control" v-model="new_sensor.ip" placeholder="IP" aria-label="IP">
                            </td>
                            <td><input type="text" class="form-control" v-model="new_sensor.port" placeholder="Port"
                                       aria-label="Port"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- <div class="modal-footer">
                    <form @submit.prevent="sendMessage">
                        <input type="text" class="form-control" id="message-text" v-model="chat_msg" />
                    </form>
                    <button type="button" class="btn btn-primary" v-on:click="sendMessage">ارسال پیام</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">خروج</button>
                </div> -->
            </div>
        </div>
    </div>
    <div class="modal fade" id="edit" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel1" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel1">ویرایش نقظه</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row my-2 mx-2">
                            <div class="col-6">
                                <label for="ed-callsign">شناسه تماس</label>
                                <input v-model="form_unit.callsign" id="ed-callsign" placeholder="callsign">
                            </div>

                            <div class="btn-group col-4" role="group" aria-label="Type">
                                <input type="radio" class="btn-check" name="btnradio" value="point"
                                    v-model="form_unit.category" id="ed-point">
                                <label class="btn btn-outline-primary btn-sm" for="ed-point">نقطه</label>

                                <input type="radio" class="btn-check" name="btnradio" value="unit"
                                    v-model="form_unit.category" id="ed-unit">
                                <label class="btn btn-outline-primary btn-sm" for="ed-unit">نیرو</label>
                            </div>

                            <div class="form-check col-2">
                                <input type="checkbox" id="ed-send" v-model="form_unit.send" />
                                <label for="ed-send">ارسال</label>
                            </div>
                        </div>
                        <div class="form-group row my-2 mx-2" v-if="form_unit.category == 'point'">
                            <div class="col-12">
                                <label class="my-1 mr-2 col-6" for="ed-type">نوع</label>
                                <select class="form-select my-1 mr-sm-2" id="ed-type" v-model="form_unit.type">
                                    <option value="b-m-p-s-m">Spot</option>
                                    <option value="b-m-p-w-GOTO">WayPt</option>
                                    <option value="b-m-p-s-p-op">OP</option>
                                    <option value="b-m-p-a">Aim</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row my-2 mx-2" v-if="form_unit.category == 'unit'">
                            <div class="col-12">
                                <label class="my-1 mr-2 col-6" for="ed-aff">طرف</label>
                                <select class="form-select my-1 mr-sm-2" id="ed-aff" v-model="form_unit.aff">
                                    <option value="h">دشمن</option>
                                    <option value="f">خودی</option>
                                    <option value="n">خنثی</option>
                                    <option value="u">نامعلوم</option>
                                    <option value="s">مشکوک</option>
                                </select>
                            </div>
                            <div class="col-12 row my-1 mr-sm-2" v-if="form_unit.root_sidc">
                                <label class="my-1 mr-2" for="ed-subtype">نوع</label>
                                <div class="col-1">
                                    <button type="button" class="btn btn-secondary"
                                        v-if="form_unit.root_sidc.code !== ''"
                                        v-on:click="setFormRootSidc(getRootSidc(form_unit.root_sidc.code).code)">
                                        &lt;
                                    </button>
                                </div>
                                <div class="col-10">
                                    <select class="form-select" id="ed-subtype" v-model="form_unit.subtype">
                                        <option v-for="t in form_unit.root_sidc.next" :value="t.code">{{ t.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="col-1">
                                    <button type="button" class="btn btn-secondary"
                                        v-if="getSidc(form_unit.subtype).next"
                                        v-on:click="setFormRootSidc(form_unit.subtype)">&gt;
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row my-2 mx-2">
                            <div class="col-12">
                                <label for="ed-remarks">توضیحات</label>
                                <textarea id="ed-remarks" class="form-control" id="exampleFormControlTextarea1" rows="3"
                                    v-model="form_unit.text"></textarea>
                            </div>
                        </div>
                        <div class="form-group row my-2 mx-2">
                            <div class="col-12">
                                <label for="ed-websensor">اطلاعات اضافه</label>
                                <textarea id="ed-websensor" class="form-control" rows="3"
                                    v-model="form_unit.web_sensor"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" v-on:click="cancelEditForm">
                        لغو
                    </button>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal" v-on:click="saveEditForm">
                        ذخیره
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>